<h2 class='rina-title'><%= @article.title %></h2>
<div class='content markdown'><%= @article.content %></div>
<div class='create-comment'>
  <%= form_for Comment.new, url: comments_path(article_id: @article.id) do |f| %>
    <div class='form-group'>
    <%= f.text_area :message, rows: '3', class: 'form-control', placeholder: '留言...' %>
  </div>
  <div class='form-group'>
    <%= f.text_field :username, class: 'form-control form-comment', placeholder: '你的名字' %>
  </div>
  <div class='form-group'>
    <%= f.text_field :email, class: 'form-control form-comment', placeholder: '邮箱' %>
  </div>
  <div class='form-group'>
    <%= f.submit '提交', class: 'btn btn-default' %>
  </div>
<% end %>
</div>
<div class='form-group'>
  <% @article.comments.each do |comment| %>
    <div class='well well-lg'>
    <%= comment.username %>--
    <%= comment.created_at.to_date %>
    <%= comment.message %>
  </div>
<% end %>
</div>
