<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
   <div class="alert alert-<%= name == 'error' ? 'danger' : 'info' %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= msg %>
  </div>
 <% end %>
<% end %>
<section>
  <div class='title'>
    <button type="button" class="start action">Play</button>
    <button type="button" class="stop action">Stop</button>
  </div>
  <div class="slider-wrap">
    <div class="slider">
      <% @files.each do |f| %>
        <%= image_tag(f[:name], size: '940*400') %><p><%= f[:desc] %>
      <% end %>
    </div>
  </div>
</section>
<footer>
  <%= link_to('返回首页', '/') %>
</footer>
