<!DOCTYPE html>
<html>
<head>
  <title>Rina's Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'mp3' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
  <div class="row rina-header">
      <div class="col-sm-6">
        <div class="ih-item circle effect15 left_to_right header-circle"><a href="#">
            <div class="img"><%= image_tag('7.jpg') %></div>
            <div class="info">
              <h3>Music box</h3>
              <p class='start-misic'>Click to Start</p>
              <p class='stop-misic' style='display:none'>Click to Stop</p>
        </div></a></div>
      <%= audio_tag("sound.mp3", class: 'audio-tag', type: 'audio/mpeg') %>
      </div>
      <div class='col-sm-6 index-navbar-right'>
        <a class='btn btn-info index-btn-info a' href='/blog/rss'>订阅</a>
        <a class='btn btn-info index-btn-info a' href='/'>主页</a>
        <a class='btn btn-info index-btn-info a' href='/all'>所有</a>
        <a class='btn btn-info index-btn-info a' href='/photo'>相册</a>
        <a class='btn btn-info index-btn-info a' href='/about'>关于</a>
      </div>
  </div>
  <div class="row">
    <div class='col-md-9'>
      <%= yield %>
    </div>
    <div class="col-md-3">
      <div class="search-field">
        <%= form_for(:search, url: search_path, method: 'get') do |f| %>
          <%= text_field_tag 'search', params[:search], class: 'form-control', placeholder: 'Search' %>
        <% end %>
      </div>
      <ul class="nav rina-new-article">
        <li><h3 class="widgettitle">最新文章</h3></li>
        <% @newest_articles.each do |article| %>
          <li class="rina-new-title">
            <%= link_to article.title, article_path(article) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
