<!DOCTYPE html>
<html>
<head>
  <title>Rina's Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar">
  <div class="container rina-header">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag("liuzhen.jpeg") %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right">
      <li class="rina-rss"><a href="/blog/rss"><%= image_tag("rss.png") %></a></li>
      <li><a href="/">主页</a></li>
      <li><a href="/all">所有</a></li>
      <li><a href="/about">关于</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<div class='container'>
  <div class="row">
    <div class='col-md-8'>
      <%= yield %>
    </div>
    <div class="col-md-4">
      <div class="search-field">
        <%= form_for(:search, url: search_path(article: @article, newest: @newest)) do |f| %>
          <%= text_field_tag 'search', params[:search], class: 'form-control', placeholder: 'Search' %>
        <% end %>
      </div>
      <ul class="nav rina-new-article">
        <li><h3 class="widgettitle">最新文章</h3></li>
        <% @newest_articles.each do |article| %>
          <li class="rina-new-title">
            <%= link_to article.title, article_path(article) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
