<!DOCTYPE html>
<html>
  <head>
    <title>Rina's Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class='photo-body'>
    <div class='container photo-container'>
      <%= audio_tag("sound.mp3", loop: true, class: 'audio-tag', type: 'audio/mpeg') %>
      <%= yield %>
    </div>
  </body>
</html>
